@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dfaf26;
  margin: 0;
  padding: 0;
}

.text-stroke {
  -webkit-text-stroke: 2px rgb(224, 175, 0); /* width and color */
  -moz-text-stroke: 1px rgb(252, 252, 252);
}

/* .tet {
  background: linear-gradient(360deg, #1d1d1b 62.01%, rgba(29, 29, 27, 0) 100%);
} */

.slider-component div {
  display: flex;
  justify-content: center;
}

.slick-dots li.slick-active button::before {
  opacity: 0.75;
  color: white !important;
}

@layer utilities {
  .btn {
    @apply uppercase bg-heroTextColor rounded-lg font-bold text-slate-50 py-5 px-12;
  }
  .custom-h2 {
    @apply text-5xl lg:text-7xl text-stroke font-bold uppercase font-sans italic text-center text-slate-50;
  }
}
